@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Sigmar+One);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

/*--- general app styling ---*/
html {
	height: 100%;
}

ul {
	list-style: none;
}

body {
	padding-top: 80px;
	height: 100%;
	background-color: #E5E7E8;
	font-family: 'Ubuntu', sans-serif;
}
#notice {
  color:  #CF462D;
}
.navbar-inverse {
	background-color: #AAD4CC;
	border: none;
	height: 75px;
	
}

.navbar-header a.navbar-brand {
  color: #080021;
  padding-top: 30px;
  font-size: 26px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #080021;
  padding-top: 30px;
  font-size: 22px;
}
h4 {
	font-family: 'Sigmar One', cursive;
	color: #ED993D;
	font-size: 22px;
}



/*--- index page styling ---*/
.title-head {
	font-size: 58px;
	text-align: center;
	font-family: 'Sigmar One', cursive;
	color: #CF462D;
}

ul {
	list-style: none;
}

h5 {
	text-align: center;
}

.main-post-list, .main-post-list a {
	font-family: 'Sigmar One', cursive;
	color: #ED993D;
	font-size: 34px;
}
.main-post-list a {
	color: #CF462D;
	margin: 31px;
}


.add-post-area {
	padding-top: 50px;
	text-align: center;
}
.btn-default {
	background-color: #ED993D;
	color: #CF462D;
}
.btn-default a{

	color: #CF462D;
}

/*-- single post view styling --*/

.post-view-title {
	font-family: 'Sigmar One', cursive;
	color: #ED993D;
	font-size: 34px;
}

h2.post-view-title {
	text-align: center;
	font-family: 'Sigmar One', cursive;
	color: #ED993D;
	font-size: 30px;
}

.single-post h4 {
	font-size: 18px;
}

.post-view-author, .average-rating{
	font-weight: 300;
	color:  #ED993D;
}
